@{
    ViewData["Title"] = "Contacto";
}

<div class="container mt-4">
    <h2>Contacto</h2>
    <hr />

    <div class="card">
        <div class="card-body">

            <h5>Biblioteca Escolar</h5>

            <p>
                <strong>Correo:</strong>
                biblioteca@escuela.edu.mx
            </p>

            <p>
                <strong>Teléfono:</strong>
                (844) 123-4567
            </p>

            <p>
                <strong>Horario:</strong>
                Lunes a Viernes de 8:00 AM a 5:00 PM
            </p>

            <p>
                <strong>Dirección:</strong>
                Saltillo, Coahuila, México
            </p>

        </div>
    </div>
</div>