@model IEnumerable<BibliotecaEscolar.Web.Models.Prestamo>

<h1>Todos los Préstamos</h1>

<table class="table">

    <thead>
        <tr>
            <th>Usuario</th>
            <th>Libro</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Usuario?.Nombre</td>
            <td>@item.Libro?.Titulo</td>
            <td>@item.Estado</td>
        </tr>
    }

    </tbody>

</table>