@model BibliotecaEscolar.Web.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<h1>Recuperar Contraseña</h1>

<form asp-action="ForgotPassword" method="post">

    <div asp-validation-summary="ModelOnly"
         class="text-danger">
    </div>

    <div class="mb-3">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Matricula"></label>
        <input asp-for="Matricula" class="form-control" />
        <span asp-validation-for="Matricula"
              class="text-danger"></span>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Verificar
    </button>

</form>